<section class="hero is-light is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <svg fill ="#000000" id="Capa_1" enable-background="new 0 0 512.006 512.006" height="25" viewBox="0 0 512.006 512.006" width="25" xmlns="http://www.w3.org/2000/svg"><g><path d="m15 61.003h35.277c6.592 0 12.363 4.233 14.326 10.532l82.359 263.844c-15.287 7.198-25.962 22.638-25.962 40.624 0 24.814 20.186 44.99 45 44.99h17.763c-1.681 4.715-2.763 9.726-2.763 15.01 0 24.814 20.186 45 45 45s45-20.186 45-45c0-5.284-1.082-10.295-2.763-15.01h65.526c-1.681 4.715-2.763 9.716-2.763 15 0 24.814 20.186 45.01 45 45.01s45-20.186 45-45c0-5.284-1.082-10.285-2.763-15h17.763c8.291 0 15-6.709 15-15s-6.709-15-15-15h-270c-8.262 0-15-6.724-15-15s6.738-15 15-15h247.562c20.684 0 38.643-14.019 43.682-34.087l54.316-217.28c1.113-4.482.117-9.229-2.725-12.861-2.842-3.647-7.207-5.771-11.836-5.771h-394.895l-8.848-28.418c-5.918-18.896-23.203-31.582-42.979-31.582h-35.277c-8.291 0-15 6.709-15 15s6.709 14.999 15 14.999zm317.76 270h-63.52l-11.25-90h86.019zm56.48-210h88.541l-22.5 90h-77.291zm-15 120h73.541l-19.658 78.633c-1.67 6.694-7.646 11.367-14.561 11.367h-50.572zm-15.23-120-11.25 90h-93.52l-11.25-90zm-120 210h-61.965l-28.099-90h78.814zm-26.25-210 11.25 90h-84.432l-28.099-90z"/></g></svg>
            <span class = "has-text-weight-bold is-size-4 ml-4">Tapir Grocer</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>