<div class="columns mt-6 is-centered">
    <div class ="column is-one-third">
        <div class="card">
            <header class="card-header">
                <p class = "card-header-title">Welcome</p><%# //TO DO: Add name %>
            </header>
            <div class="card-content">
                <div class="field has-text-centered">
                    <%= link_to"Check-in Link", link_url, class: "button is-success is-rounded" %>
                </div>
                <div class="field has-text-centered">
                    <%= link_to"Check-in Records", all_entries_url, class: "button is-success is-rounded" %>
                </div>
            </div>
        </div>
    </div>
</div>
