<div class="columns is-centered mt-6">   
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <h1 class = "is-size-2 has-text-weight-bold mb-3">Edit Entry</h1>
            </div>
        </div>
        <%= render 'form', entry: @entry %>
    </div>
</div>
