<div class="columns is-centered mt-6">   
    <div class="column is-one-third">
        <div class="card">
           <header class="card-header">
                <h1 class = "is-size-2 has-text-weight-bold has-text-centered">Check-in</h1>
            </header>
        </div>
        <%= render 'form', entry: @entry %>
    </div>
</div>
