<div class="columns mt-6 is-centered">
    <div class ="column is-one-third">
        <div class="card">
            <header class="card-header">
                <h1 class = "is-size-2 has-text-weight-bold">Customer Check-in</h1>
            </header>
            <div class="card-content">
                <%= raw @qr.as_html %>
            </div>
        </div>
    </div>
</div>